.login{
    width:100%;
    height:100vh;
    .login-wrapper{
        width: 100%;
        height:100%;
        display:flex;
        position: relative;
        background: #fff;
        .login-left{
            display:flex;
            align-items: center;
            justify-content:center;
            width:100%;
            .logo{
                position:absolute;
                top:106px;
                left: 97px;
                width: 170px;
            }
            .logo-img-wrapper{
                width:600px;
                height:300px;
                img{
                    width:100%;
                    object-fit: contain;
                }
            }
        }
        .login-right{
            width:100%;
            background: #fff;
            display:flex;
            align-items:center;
            justify-content:center;
            .inner-wrapper{
                max-width: 450px;
                width:100%;
                display:flex;
                flex-direction:column;
                h2{
                    color: #213f7d;
                    padding-bottom:10px;
                    font-size:40px;
                }
                p{
                    color: #545f7d;
                    margin-bottom: 60px;
                    font-size:20px;
                }
                form{
                    width:100%;
                    .input-group{
                        width:100%;
                        margin-bottom:24px;
                        input{
                            width:100%;
                            padding:1rem;
                            font-size:14px;
                        }
                    }
                    .f-pswd{
                        font-size:12px;
                    }
                }
            }
        }
    }
}